@{
    ViewBag.Title = "SSP-Events";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>
    °𝗦𝗧𝗢𝗥𝗜𝗘𝗦 𝗕𝗬 𝗦𝗥𝗜𝗡𝗜𝗩𝗔𝗦 𝗣𝗨𝗧𝗧𝗔°
    We as a team have our own unique & diversified approach of presenting Wedding Stories.
    www.srinivasputta.com
</h1>

