@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CONTACT ME <br />
    Roadno1,Banjarahills,Hyderabad<br />

    storiesbysrinivasputta@gmail.com<br />

    +91 8688008482<br />
</address>

<address>
    <strong>  Support: <br /><img src="~/Images/icons8-instagram.gif" /></strong>   <a href="https://www.instagram.com/storiesbysrinivasputta/?hl=en">https://www.instagram.com/storiesbysrinivasputta/?hl=en</a><br />
 <strong><img src="~/Images/icons8-gmail-logo.gif" /></strong> <a href="storiesbysrinivasputta@gmail.com">storiesbysrinivasputta@gmail.com</a>
</address>

