@{
    ViewBag.Title = "Insta Reels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">

    <iframe src="https://www.instagram.com/storiesbysrinivasputta/reels/?hl=en/embed" width="1000" height="1000" ></iframe>

    
</div>

<div class="row">

</div>